header{
    width: 100%;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 30% 70%;
}
.logo {
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 1/3;
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.logo img {
    width: calc(100% + 7px); /* Aumenta la anchura en 2px para cubrir todo el círculo */
    height: calc(100% + 7px); /* Aumenta la altura en 2px para cubrir todo el círculo */
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kgarcia{
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2.5rem;
}
.btn{
    margin: 0 auto;
    width: 10rem;
    height: 4rem;
    border-radius: 3rem;
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(54, 54, 54);

}
.btn a{
    text-decoration: none;
    color: white;
}
.aprendizaje{
    grid-column: 2/4;
    grid-row: 2/3;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.aprendizaje div{
    border: 1px solid rgb(206, 206, 206);
}
