.paginas{
    margin: 1rem;   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}
.proyecto{
    height: 30rem;
    display: grid;
    grid-template-rows: 50% 15% 17.5% 17.5%;
    grid-template-columns: 70% 30%;

    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    background: linear-gradient(10deg, rgba(211, 63, 63, 0), rgb(247, 210, 155));
}
.contenedor_img{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    overflow: hidden;
}
.contenedor_img img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
.proyecto h2{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.proyecto p{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
.proyecto a{
    margin: auto;
    border-radius: 25%;
    width: 6rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}
.github{
    background-color: rgb(240, 176, 123);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.proyect{
    background-color: rgb(223, 146, 96);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}