.perfil{
    grid-column-start: 1;
    grid-column-end: 1;
    border-right: 1px solid rgb(238, 194, 194)
}

.nombre_usuario{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo1{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color:rgb(245, 150, 115);
    color: wheat;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_perfil{
    width: 10rem;
    height: 4rem;
    color: rgb(177, 175, 171);
    border-radius: 3rem;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}